<div class="WelcomeBonusSection">
  <div class="VungAnToan BonusFlex">
    <div class="WelcomeLeft">
      <div class="BonusHeader">
        <i class="fas fa-gift"></i>
        <span>Welcome Bonus</span>
      </div>
      <p class="BonusText">Join Today & Earn <span>20 PawPoints</span> Instantly!</p>
      <a class="NutSignUp" routerLink="/tai-khoan/dang-ky">Sign Up</a>
    </div>

    <div class="KhungSubscribeTrang">
      <div class="SubContent">
        <p class="SubSmallTitle">Subscribe & Get</p>
        <h2 class="SubBigTitle">Instant 15% Discount</h2>
        <input #emailInput type="email" placeholder="Enter Your Email Id" class="InputEmail" [(ngModel)]="email" name="email">
        @if (thongBao()) {
          <p class="ThongBaoThanhCong">{{ thongBao() }}</p>
        }
        @if (loi()) {
          <p class="ThongBaoLoi">{{ loi() }}</p>
        }
        <div class="SubBottom">
          <div #recaptchaBox class="KhungRecaptcha"></div>
          <button class="NutSubscribe" [disabled]="dangGui()" (click)="subscribe()">
            {{ dangGui() ? 'Submitting...' : 'Subscribe' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
