<section class="SanPhamNoiBat">
  <div class="VungAnToan">
    <div class="KhungNenDo">
      <div class="CumSanPham Trai">
        <div class="HinhVuongLon">
          <div class="NoiDungTrong">
            @if (sanPhamTrai(); as sp) {
              <div class="PhanChu">
                <div class="TieuDeSP">{{ sp.ten }}</div>
                <div class="KhungGia">
                  <div class="DongGiaCu">
                    <span class="GiaCu">{{ sp.giaTu | number:'1.0-0' }}</span> <span class="DonViGiaCu">vnd</span>
                  </div>
                  <div class="GiaMoi">
                    <span class="ConSoGia">{{ giaVipPlaceholder(sp.giaTu) | number:'1.0-0' }} <span class="DonViTien">vnd</span></span>
                    <img src="/img/pawvip2.png" alt="PawVip" class="LogoVipGia">
                  </div>
                </div>
                <div class="DiemNoiBat">
                  <div class="NhanPhu">Key Takeaways</div>
                  <ul class="DanhSachDiem">
                    <li>#1 Dog-preferred chew</li>
                    <li>Proven heartworm disease protection</li>
                    <li>Treats and controls roundworms</li>
                  </ul>
                </div>
              </div>
              <div class="KhungAnhNhoHero">
                @for (anh of anhHeroTrai(); track anh; let i = $index) {
                  <div class="OAnhNhoHero" [class.active]="i === 0"><img [src]="anh" alt="a"></div>
                }
              </div>
            }
          </div>
        </div>
        <div class="CumVatPham">
          <div class="HinhVuongNho"><img [src]="anhNhoTrai()" alt="Hero"></div>
          <a [routerLink]="['/san-pham', productIdTrai()]" class="NutShopNow">Shop Now</a>
        </div>
      </div>

      <img [src]="anhTrungTam()" [alt]="altTrungTam()" class="AnhChoTrungTam">

      <div class="CumSanPham Phai">
        <div class="CumVatPham">
          <div class="HinhVuongNho"><img [src]="anhNhoPhai()" alt="Hero"></div>
          <a [routerLink]="['/san-pham', productIdPhai()]" class="NutShopNow">Shop Now</a>
        </div>
        <div class="HinhVuongLon">
          <div class="NoiDungTrong">
            @if (sanPhamPhai(); as sp) {
              <div class="PhanChu">
                <div class="TieuDeSP">{{ sp.ten }}</div>
                <div class="KhungGia">
                  <div class="DongGiaCu">
                    <span class="GiaCu">{{ sp.giaTu | number:'1.0-0' }}</span> <span class="DonViGiaCu">vnd</span>
                  </div>
                  <div class="GiaMoi">
                    <span class="ConSoGia">{{ giaVipPlaceholder(sp.giaTu) | number:'1.0-0' }} <span class="DonViTien">vnd</span></span>
                    <img src="/img/pawvip2.png" alt="PawVip" class="LogoVipGia">
                  </div>
                </div>
                <div class="DiemNoiBat">
                  <div class="NhanPhu">Key Takeaways</div>
                  <ul class="DanhSachDiem">
                    <li>#1 Dog-preferred chew</li>
                    <li>Proven heartworm disease protection</li>
                    <li>Treats and controls roundworms</li>
                  </ul>
                </div>
              </div>
              <div class="KhungAnhNhoHero">
                @for (anh of anhHeroPhai(); track anh; let i = $index) {
                  <div class="OAnhNhoHero" [class.active]="i === 0"><img [src]="anh" alt="a"></div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
