@if (sanPhamBanChay().length > 0 || sanPhamCungDanhMuc().length > 0) {
  <div class="KhungSanPham">
    <div class="VungGoiY">
      <div class="ThanhTabGoiY">
        <button class="NutTabGoiY" [class.active]="tabGoiY() === 'bought'" (click)="tabGoiY.set('bought')">Frequently Bought</button>
        <button class="NutTabGoiY" [class.active]="tabGoiY() === 'related'" (click)="tabGoiY.set('related')">Related Items</button>
      </div>

      @if (danhSachGoiYHienThi().length > 0) {
        <div class="KhungDanhSachSP">
          @for (item of danhSachGoiYHienThi(); track item.productId) {
            <a class="TheSanPham" [routerLink]="['/san-pham', item.productId]">
              <div class="KhungAnhTrang">
                <img [src]="item.images[0]?.url ?? '/img/logo1.png'" [alt]="item.ten">
              </div>
              <div class="NoiDungSP">
                <div class="RatingSao">
                  @for (s of saoArr; track s) {
                    <span class="SaoO">
                      <i class="fas fa-star SaoNen"></i>
                      <i class="fas fa-star SaoDay" [style.width.%]="phanTramSao(s, item.diemDanhGiaTb)"></i>
                    </span>
                  }
                  <span>{{ item.diemDanhGiaTb }}</span>
                </div>
                <div class="TenSanPhamGrid">{{ item.ten }}</div>
                <hr class="KeNgang">
                <div class="CumGia">
                  @if (item.giaTu) {
                    <div class="GiaCuGrid">{{ item.giaTu | number:'1.0-0' }} <span class="DonViTien">vnd</span></div>
                    <div class="GiaMoiHang">
                      <span class="GiaMoiGrid">{{ giaVipPlaceholder(item.giaTu) | number:'1.0-0' }} <span class="DonViTien">vnd</span></span>
                      <img src="/img/pawvip.png" alt="PawVip" class="VipIconGrid" (click)="diToiPawVip($event)">
                    </div>
                  } @else {
                    <div class="GiaCuGrid">Contact us</div>
                  }
                </div>
                <button type="button" class="NutShopNowGrid" [disabled]="dangThemGio()" (click)="themVaoGioNhanh(item, $event)">
                  <i class="fas fa-shopping-cart"></i> ADD TO CART
                </button>
              </div>
            </a>
          }
        </div>
      } @else {
        <p class="TrangThaiTai">
          @if (tabGoiY() === 'bought') {
            No purchase data yet to determine best-selling products in this category.
          } @else {
            No related products found.
          }
        </p>
      }
    </div>
  </div>
}
