<header class="DauTrang" [class.HeaderAn]="danHeader()">
  <div class="ThanhTrenCung">
    <div class="VungAnToan">
      <ul class="DanhSachThongTin">
        <li class="MucThongTin"><i class="fa-solid fa-truck"></i> FREE Shipping</li>
        <li class="MucThongTin">Assured Delivery</li>
        <li class="MucThongTin">Tariff Paid</li>
      </ul>
    </div>
  </div>

  <div class="KhungChinhDauTrang">
    <div class="VungAnToan">
      <div class="KhungLogo">
        <a routerLink="/">
          <img src="/img/logo1.png" alt="PawSome" class="AnhLogo">
        </a>
      </div>

      <div class="KhungTimKiem">
        <div class="VongTronTimKiem" (click)="timKiem()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input
          type="text"
          class="OInputTimKiem"
          placeholder="Searching for products..."
          [ngModel]="tuKhoaTimKiem"
          (ngModelChange)="tuKhoaTimKiem = $event"
          (input)="onTuKhoaThayDoi($any($event.target).value)"
          (focus)="onTuKhoaThayDoi(tuKhoaTimKiem)"
          (blur)="dongGoiY()"
          (keyup.enter)="timKiem()"
          name="tuKhoaTimKiem"
          autocomplete="off">

        @if (hienGoiY()) {
          @if (danhSachGoiY().length > 0) {
            <ul class="DanhSachGoiYTimKiem">
              @for (sp of danhSachGoiY(); track sp.productId) {
                <li>
                  <button type="button" class="MucGoiYTimKiem" (mousedown)="chonGoiY(sp)">
                    <img [src]="sp.anhChinh ?? '/img/logo1.png'" [alt]="sp.ten" class="AnhGoiYTimKiem">
                    <span class="TenGoiYTimKiem">{{ sp.ten }}</span>
                    @if (sp.giaTu) {
                      <span class="GiaGoiYTimKiem">{{ sp.giaTu | number:'1.0-0' }} VND</span>
                    }
                  </button>
                </li>
              }
            </ul>
          } @else {
            <div class="DanhSachGoiYTimKiem ThongBaoKhongCoGoiY">No products found.</div>
          }
        }
      </div>

      <div class="CumTienIch">
        <div class="CumHotline">
          <div class="VongTronIconDo"><i class="fa-solid fa-phone"></i></div>
          <span class="VanBanHotline">(+84) 1234 5678</span>
        </div>
        <a routerLink="/gio-hang" class="NutTienIch">
          <div class="VongTronIconDo">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="ThongBaoSoLuong">{{ soLuongGioHang() }}</span>
          </div>
        </a>
        <div class="KhungTaiKhoan">
          @if (!daDangNhap()) {
          <div class="NutTienIch" (click)="toggleDropdownDangNhap($event)">
            <div class="VongTronIconDo"><i class="fa-solid fa-user"></i></div>
          </div>

          @if (hienDropdownDangNhap()) {
          <div class="DropdownDangNhap">
            <a routerLink="/tai-khoan/dang-nhap" class="NutDangNhapDropdown" (click)="dongDropdownDangNhap()">Sign In</a>
            <span class="ChuHoacDropdown">OR</span>
            <a routerLink="/tai-khoan/dang-ky" class="NutDangNhapDropdown" (click)="dongDropdownDangNhap()">Register</a>
          </div>
          }
          } @else {
          <div class="NutTienIch" (click)="toggleDropdownTaiKhoan($event)">
            <div class="VongTronIconDo"><i class="fa-solid fa-user"></i></div>
          </div>

          @if (hienDropdownTaiKhoan()) {
          <div class="DropdownTaiKhoan">
            <div class="TenNguoiDungDropdown">Hi, {{ nguoiDungHienTai()?.hoTen }}</div>
            <a routerLink="/tai-khoan/ho-so" class="MucDropdown" (click)="dongDropdownTaiKhoan()">Profile</a>
            <a routerLink="/tai-khoan/quen-mat-khau" class="MucDropdown" (click)="dongDropdownTaiKhoan()">Change
              password</a>
            <button type="button" class="MucDropdown MucDangXuat" (click)="dangXuat()">Sign out</button>
          </div>
          }
          }
        </div>
      </div>
    </div>
  </div>

  <nav class="ThanhDieuHuong">
    <div class="VungAnToan">
      <ul class="DanhSachMenuChinh">
        <li class="MucMenuChinh">
          <a routerLink="/san-pham" class="LienKetChinh">Shop by Pet</a>
          <ul class="KhungMenuCon">
            <li><a routerLink="/san-pham" [queryParams]="{ categoryId: 1 }">Dog</a></li>
            <li><a routerLink="/san-pham" [queryParams]="{ categoryId: 2 }">Cat</a></li>
            <li><a routerLink="/san-pham" [queryParams]="{ categoryId: 3 }">Horse</a></li>
            <li><a routerLink="/san-pham" [queryParams]="{ categoryId: 4 }">Bird</a></li>
          </ul>
        </li>

        <li class="MucMenuChinh">
          <a routerLink="/san-pham" class="LienKetChinh">Shop by Condition</a>
          <ul class="KhungMenuCon">
            <li><a routerLink="/san-pham" [queryParams]="{ conditionId: 1 }">Flea, Tick</a></li>
            <li><a routerLink="/san-pham" [queryParams]="{ conditionId: 2 }">Wormers</a></li>
            <li><a routerLink="/san-pham" [queryParams]="{ conditionId: 3 }">Heartwormers</a></li>
            <li><a routerLink="/san-pham" [queryParams]="{ conditionId: 4 }">Joint Care</a></li>
            <li><a routerLink="/san-pham" [queryParams]="{ conditionId: 5 }">Skin & Coat</a></li>
            <li><a routerLink="/san-pham" [queryParams]="{ conditionId: 6 }">Behavioural</a></li>
          </ul>
        </li>

        <li class="MucMenuChinh">
          <a routerLink="/san-pham" class="LienKetChinh">Brands</a>
          <ul class="KhungMenuCon">
            @for (th of danhSachThuongHieu(); track th.brandId) {
              <li><a routerLink="/san-pham" [queryParams]="{ brandId: th.brandId }">{{ th.tenThuongHieu }}</a></li>
            }
          </ul>
        </li>

        <li class="MucMenuChinh">
          <a routerLink="/blog" class="LienKetChinh">Blog</a>
        </li>

        <li class="MucMenuChinh">
          <a href="#" class="LienKetChinh">What's New</a>
          <ul class="KhungMenuCon">
            <li><a routerLink="/gio-hang/coupon">Coupon</a></li>
            <li><a href="#">Reward</a></li>
            <li><a href="#">PawCare</a></li>
          </ul>
        </li>
      </ul>

      <div class="KhuyenMaiMenu">
        <img src="/img/Upto.png" alt="Up to 20 Percent Off" class="AnhKhuyenMaiTinh">
        <a routerLink="/gio-hang/pawvip" class="LienKetVip">
          <img src="/img/pawvip.png" alt="PawVip" class="LogoVip">
        </a>
      </div>
    </div>
  </nav>
</header>